body {
	margin:0;
	padding:0;
	display:flex;
	flex-direction: column;
	height: 100vh;
}

header {
	flex: 1;
	text-align: center;
	background-color: #FEFAE0;
	display: flex;
	flex-direction: row;

}

content {
	flex: 3;
	background-color: #FEFAE0;
	display: flex;
	flex-direction: row;

}

footer {
	flex: 1;
	text-indent: 50px;
	background-color: #FEFAE0;
	text-align: center;
	
}

aside {
	flex: 0.3;
	flex-direction: column;
	display: flex;
	text-indent: 50px;
	color: #FEFAE0;

}

.homepage_navigation {
	flex: 0.15;
	background-color: #FEFAE0;

}

.header_images {
	flex: 0;
	max-width: 250px;
	max-height: 250px;

}

.page_title{
	flex: 1;
	background-color: #FEFAE0;

}

.content_holder{
	flex: 0.5;
	background-color: #FEFAE0;
	display:flex;
	flex-direction: column;

}

.image_holder{
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #FEFAE0;
	max-width: 50vw;
	position: relative;
	border-bottom-style: dashed;
	border-color: #FAEDCD;

}

.content_images{
	flex: 1;
	max-width: 60%;
	max-height: 90%;
	object-fit: contain;
	margin: 10px;
	
}

.knit_tutorial{
	flex: 1;
	display: flex;
	flex-direction: row;
	
}

.purl_tutorial{
	flex: 1;
	display: flex;
	flex-direction: row;
	
}

.pattern_image{
	max-width: 50%;
	max-height: 50%;
	margin: auto;

}